{% extends 'app.html.twig' %}

{% block title %}Todo List !{% endblock %}

{% block body %}

<div class="input">

</div>

<div class="container">
    <div class="first-row">
        <span class="delete">Supprimer</span>
        <span class="content">A faire</span>
        <span class="done">Finir</span>
    </div>
</div>

{% endblock %}
